<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

    <div class="container">

        <h1>To-Do List</h1>
        <div class="form-box">
            <h2>Log in</h2>
            <form>
                <input type="text" placeholder="Brukernavn" required>
                <input type="password" placeholder="Passord" required>
                <button type="submit">Log in</button>
            </form>

            <p>Har du ikke konto? <a href="#">Opprett konto</a></p>

        </div>
    </div>
    
</body>
</html>